<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <div id="main">
        <!-- コンポーネントにargsを渡す -->
        <div id="graph" v-component="graph" v-with="args:args" style="width: 300px; height:300px;"></div>
        <div>
            <p>
                width: <input type="text" v-model="args.rectWidth"/>
            </p>
            <p>
                height: <input type="text" v-model="args.rectHeight"/>
            </p>
        </div>

    </div>


<script src="../bower_components/vue/dist/vue.js"></script>
<script src="../bower_components/d3/d3.js"></script>
<script>
    Vue.component("graph", {
        methods:{
            update: function(){
                //Rect要素の属性を再設定する
                d3.select("rect")
                    .attr("width", this.args.rectWidth)
                    .attr("height", this.args.rectHeight);
            }
        },
        ready:function(){
            //要素の追加
            d3.select(this.$el)
                    .append("svg")
                    .attr("width", 400)
                    .attr("height", 400)
                    .append("rect");

            //属性の設定
            this.update();

            //変数を監視する
            var self = this;
            this.$watch("args", function(){
                //args要素以下に変更があればupdateをかける
                self.update();
            });
        }
    });

    new Vue({
        el:"#main",
        data:{
            args:{
                rectWidth: 300,
                rectHeight: 300
            }
        }

    });

</script>
</body>
</html>